//movil, no enough time
@media (max-width: $tabletpx/2) {
    #content {
        p{
            padding: 0;
        }
        .imgWrapper {
            .imgWrapper__wrapper {
                width: 100%;
                margin-bottom: 20%;
            }
        }
    }
    #bottom{
        span{
            margin: 15px 0;
        }
    }
    #bottom form div {
        label {
            float: left;
            width: 100%;
        }
        label+label {
            margin-left: 0%;
        }
    }

    .animacion{
        width: 106%;
        margin-top: 61%;
        
    }
}