.contact-tittle{
  margin-top: 120px;
  margin-left: 40px;
}
.contact-container {
  margin-top: 200px;
  margin-left: -106px;
}
.icons-contact {
  max-width: 3%;
}
.icons-info {
  margin-left: 30px;
  margin-top: -23px;
  padding-bottom: 24px;
}
.icons-networks {
  max-width: 15%;
}
.networks-container {
  margin-top: 29px;
}
